*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    color: white;
    background-color: #262930;
    font-family: JetBrains Mono, Sans Serif;
    max-width: 700px;
    margin: 0 auto;
}

h1 {
  font-size: 2rem;
  color: white;
}

.flashbar ul {
    text-align: center;
    margin: 10px;
    
}

.flashbar ul {
    list-style: none;
}

.flashbar-list{
    background-color: #923557;
    color: white;
    padding: 10px;
}

.header-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

ion-icon {
    color: #F4F6F7;
    font-size: 2rem;
    --ionicon-stroke-width: 16px;
}

/* Weather Form  */
.form-container {
  margin: 100px auto;
  padding: 20px;
  background-color: #039386;
  border-radius: 10px;
  max-width: 450px;
  box-shadow: 1px 5px 25px 1px #00000083;

  input[text] {
    border-radius: 5px;
  }

  div > label {
    color: #F4F6F7;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}