*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    color: white;
    background-color: #262930;
    font-family: nunito-sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    max-width: 700px;
    margin: 0 auto;
}

h1 {
  font-size: 2rem;
  color: white;
}

.flashbar ul {
    text-align: center;
    margin: 10px;
    
}

.flashbar ul {
    list-style: none;
}

.flashbar-list {
    background-color: #923557;
    color: white;
    padding: 10px;
}



ion-icon {
    color: #F4F6F7;
    font-size: 2rem;
    --ionicon-stroke-width: 16px;

    
}

.index-icon {
    --ionicon-stroke-width: 40px;
}

#icon {
  font-size: 3rem;
}

/* Weather Form  */


.form-container {
  margin: 100px auto;
  padding: 10px 5px;
  background-color: #039386;
  border-radius: 10px;
  max-width: 350px;
  box-shadow: 1px 5px 25px 1px hsla(0, 0%, 0%, 0.514);

    .form-column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px 20px 15px 20px;
  }

  .header-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;

    h1 {
        margin: 10px 0px;
    }
}


input#submit-button {
    display: inline-block;
    text-align: center;
    padding: 16px;
    padding-top: 2px;
    height: 10px;
    width: 200px;
    /* background-color: #424141; */
    background-color: #f4f6f7;
    color: #424141;
    /* color: #f4f6f7; */
    border-radius: 5px;
    border-color: #f4f6f7;
}

input#submit-button:hover {
    display: inline-block;
    text-align: center;
    padding: 16px;
    padding-top: 2px;
    height: 10px;
    width: 200px;
    /* background-color: #424141; */
    background-color: #f4f6f777;
    color: #424141;
    /* color: #f4f6f7; */
    border-radius: 7px;
    border-color: #f4f6f7;
}

    div > label {
      color: #f4f6f7;
      font-weight: bold;
      font-size: 1rem;
      margin-right: auto;
      max-width: 80px;
   }

    /* .spacer {
      flex: 1;
    }

    .spacer-sm {
        flex: .5;
    } */

    .location-input {
      border-radius: 5px;
    }


}



/* weather page */
.weather-dash {
  margin: 100px auto;
  max-width: 900px;
  background-color: #039386;
  border-radius: 15px;
  box-shadow: 1px 5px 25px 1px hsla(0, 0%, 0%, 0.514);
  display: flex;
  flex-direction: column;
}

.weather-dash-spacer {
    flex: 1;
}

.top-row-dash {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.top-left-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  max-width: 25%;
}

.top-center-weather-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 20px;
  max-width: 40%;
}

.big-icon-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

.big-io-icon {
    margin-right: 10px;
    font-size: 4rem;
}

.middle-description {
    font-size: 1.2rem;
    margin-top: 0rem;
    display: flex;
    flex-direction: column;

}

.large-temp {
    font-size: 2.2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.active {
    color: #f4f6f7;
}

.inactive {
    color: hsla(200, 14%, 96%, 0.301);
}

.inactive:hover {
    color: #f4f6f7;
}

.right-top-weather-box {  
  display: flex;
  text-align: right;
  flex-direction: column;
  justify-content: space-between;
  max-width: 25%;
  flex-wrap: nowrap;
  margin-left: 10px;
  font-size: .8rem;
}

.middle-row-dash {
    display: flex;
    justify-content: space-around;
}

/* Hourly Continer Data Stuff */
.hour-container {
    display: flex;
    flex-direction: column;
    border-style: solid solid none none;
    border-width: 1px;
    border-color: #424344;
    padding: 2px 20px 5px 20px;
    flex-basis: 200px;
    align-items: center;
}

.hour-icon-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: -2px;
}

.hour-container:last-child {
    border-style: solid none none none;
}

.hour-io-icon {
    font-size: 2.5rem;
    margin-right: 7px;
}

.hour-time {
    font-weight: bold;
    margin: 3px 2px 0px 2px;
}


/* Daily Container Data Stuff */
.last-row-dash {
    display: flex;
    flex-direction: row;
}

.day-container {
    display: flex;
    flex-direction: column;
    border-style: solid solid none none;
    border-width: 1px;
    border-color: #424344;
    flex-basis: 100px;
    align-items: center;
    font-size: .8rem;
    padding: 6px 5px 8px 5px;
}

.day-container:last-child {
    border-style: solid none none none;
}


.daily-icon-temp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    ion-icon {
        font-size: 1.2rem;
        margin-right: 8px;
    }

}

.daily-highs-lows-container {
    display: flex;
    flex-direction: column;
    font-size: .7rem;
    justify-content: center;
    align-items: center;
}