*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    color: white;
    background-color: #262930;
    font-family: JetBrains Mono, Sans Serif;
    max-width: 700px;
    margin: 0 auto;
}

h1 {
  font-size: 2rem;
  color: white;
}

.flashbar ul {
    text-align: center;
    margin: 10px;
    
}

.flashbar ul {
    list-style: none;
}

.flashbar-list{
    background-color: #923557;
    color: white;
    padding: 10px;
}

.header-row {
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

ion-icon {
    color: #F4F6F7;
    font-size: 2rem;
    --ionicon-stroke-width: 16px;
}

#icon {
  font-size: 3rem;
}

/* Weather Form  */
.form-container {
  margin: 100px auto;
  padding: 20px;
  background-color: #039386;
  border-radius: 10px;
  max-width: 450px;
  box-shadow: 1px 5px 25px 1px hsla(0, 0%, 0%, 0.514);

  input[text] {
    border-radius: 5px;
  }

  div > label {
    color: #F4F6F7;
    font-weight: bold;
    font-size: 1.2rem;
  }
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* weather page */
.weather-dash {
  margin: 100px auto;
  max-width: 800px;
  background-color: #039386;
  box-shadow: 1px 5px 25px 1px hsla(0, 0%, 0%, 0.514);
}

.top-row-dash {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.top-left {
  display: flex;
  flex-direction: column;
}

.top-center-weather-box {
  text-align: center;
  flex-basis: 50%;
}

.right-top-weather.box {
  text-align: right;
  display: flex;
  flex-direction: column;
}