{% extends "layout.html" %}

{% block title %}
	Front Page
{% endblock title %}

{% block main %}



<form class="form-container" action="/get_weather", method="POST">
  <div class="header-row">
    <h1>WeatherApp</h1>
    <ion-icon name="sunny"></ion-icon>
  </div>
  <div class="form-row">
    
    <label for="location">Enter Location</label>
    <input type="text" autofocus id="location" class="location-input" name="location">
    <div class="spacer"></div>
    <input type="image" class="submit-icon" src="../static/icons/submit.svg">
    <div class="spacer"></div>
  </div>
</form>

      


{% endblock main %}