{% extends "layout.html" %}

{% block title %}
	Front Page
{% endblock title %}

{% block main %}



<form class="form-container" action="/get_weather", method="POST">
    <div class="form-column">
        <div class="header-row">
            <h1>WeatherApp</h1>
            <ion-icon name="sunny" class="index-icon"></ion-icon>
        </div>
        <div class="form-column" id="enter-location-row">
            <input type="text" autofocus id="location" class="location-input" name="location" placeholder="Enter Location">
        </div>
        <div class="form-column" id="form-submit-row">
            <input type="submit" value="Submit" id="submit-button">
        </div>
    </div>
</form>

      


{% endblock main %}