{% extends "layout.html" %}

{% block title %}
Your Weather
{% endblock title %}

{% block main %}
<div class="weather-dash">
  <div class="top-row-dash">
    <div class="top-left-container">
      <div>
        {{ info["location"] }}
      </div>
      <div>
        {{ info.date }}
      </div>
      <div id="hours" data-name="{{ info.hours }}">
        {{ info.readable_time }}
      </div>
    </div>
    <div class="weather-dash-spacer"></div>
    <div class="top-center-weather-box">
        <div class="big-icon-container">
            {{ info.icon |safe }}
            <div class="large-temp">
                {{ info.temp|round|int }}°C
            </div>
        </div>
      
        <div class="middle-description">
           
            {{ info.description }}
        </div>
    </div>
    <div class="weather-dash-spacer"></div>
    <div class="right-top-weather-box">
        <div>
            Feels like: {{ info.feels_like|round|int }} °C
        </div>
        <div>
            Humidity: {{ info.humidity }}%
        </div>
        <div>
            Wind: {{ info.windspeed|round|int }} km/h {{ info.wind_direction }}
        </div>
        <div>
            Pressure: {{ info.pressure }} mbar
        </div>
    </div>

  <!-- Hourly -->
  <div class="middle-row-dash">
    <div></div>
  </div>


  <!-- daily -->
  <div class="last-row-dash">

  </div>
</div>

{% endblock main %}