{% extends "layout.html" %}

{% block title %}
Your Weather
{% endblock title %}

{% block main %}
<div class="weather-dash">

  <!-- Today Weather info -->
  <div class="top-row-dash">
    <div class="top-left-container">
      <div>
        {{ info.location }}
      </div>
      <div>
        {{ info.date }}
      </div>
      <div id="hours" data-name="{{ info.hours }}">
        {{ info.readable_time }}
      </div>
    </div>
    <div class="weather-dash-spacer"></div>
    <div class="top-center-weather-box">
        <div class="big-icon-container">
            {{ info.icon |safe }}
            <div class="large-temp">
                {{ info.temp|round|int }}°C
            </div>
        </div>
      
        <div class="middle-description">
            {{ info.description }}
        </div>
    </div>
    <div class="weather-dash-spacer"></div>
    <div class="right-top-weather-box">
        <div>
            Feels like: {{ info.feels_like|round|int }} °C
        </div>
        <div>
            Humidity: {{ info.humidity }}%
        </div>
        <div>
            Wind: {{ info.windspeed|round|int }} km/h {{ info.wind_direction }}
        </div>
        <div>
            Pressure: {{ info.pressure }} mbar
        </div>
    </div>
  </div>


  <!-- Hourly Info Row-->
  <div class="middle-row-dash">
    {% for h, data in info.hourly.items() %}
    <div class="hour-container">
        
      <div class="hour-time">{{ data.time }}</div>
        
      <div class="hour-icon-container">
        {{ data.icon|safe }}
        <div>{{ data.temp|round|int }}°C</div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Daily Row -->
  <div class="last-row-dash">
    {% for i, day in info.daily.items() %}
    <div class="day-container">
      <div class="daily-date-container">
        {{ day.day_name }} {{ day.month }} {{ day.day }}
      </div>
      <div class="daily-icon-temp-container">
        {{ day.icon|safe }}
        <div class="daily-spacer"></div>
        <div class="daily-highs-lows-container">
          <div>{{ day.high|round|int }}°C</div>
          <div>{{ day.low|round|int }}°C</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

   
</div>

{% endblock main %}