{% extends "layout.html" %}

{% block title %}
Your Weather
{% endblock title %}

{% block main %}
<div class="weather-dash">

  <!-- Today Weather info -->
  <div class="top-row-dash">
    <div class="top-left-container">
      <div>
        {{ info.location }}
      </div>
      <div>
        {{ info.date }}
      </div>
      <div id="hours" data-name="{{ info.hours }}">
        {{ info.readable_time }}
      </div>
    </div>
    <div class="weather-dash-spacer"></div>
    <div class="top-center-weather-box">
        <div class="big-icon-container">
            {{ info.icon |safe }}
            <div class="large-temp" id="temp-toggle">
              <span class="temp">{{ info.temp|round|int }}</span>
              <a href="#" onClick="toggleToCelsius()" data-name="{{ info.temp }}"  class="active" id="large-celsius">°C</a> | <a href="#" onClick="toggleToFahrenheit()" data-name="{{ info.temp }}"  class="inactive" id="large-fahrenheit">°F</a>
            </div>
        </div>
        <div class="middle-description">
            {{ info.description }}
        </div>
    </div>
    <div class="weather-dash-spacer"></div>
    <div class="right-top-weather-box">
        <div>
          Feels like: <span class="temp">{{ info.feels_like|round|int }} </span><span class="units">°C</span>
        </div>
        <div>
            Humidity: {{ info.humidity }}%
        </div>
        <div>
            Wind: <span id="wind-speed" data-name="{{ info.windspeed }}">{{ info.windspeed|round|int }} km/h</span> {{ info.wind_direction }}
        </div>
        <div>
            Pressure: <span id="pressure" data-name="{{ info.pressure }}">{{ info.pressure }} mbar</span>
        </div>
    </div>
  </div>


  <!-- Hourly Info Row-->
  <div class="middle-row-dash">
    {% for h, data in info.hourly.items() %}
    <div class="hour-container">
      <div class="hour-time">{{ data.time }}</div>
      <div class="hour-icon-container">
        {{ data.icon|safe }}
        <div>
          <span class="temp">{{ data.temp|round|int }}</span><span class="units">°C</span> 
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Daily Row -->
  <div class="last-row-dash">
    {% for i, day in info.daily.items() %}
    <div class="day-container">
      <div class="daily-date-container">
        {{ day.day_name }} {{ day.month }} {{ day.day }}
      </div>
      <div class="daily-icon-temp-container">
        {{ day.icon|safe }}
        <div class="daily-highs-lows-container">
          <div>
            <span class="temp">{{ day.high|round|int }}</span><span class="units">°C</span>  
          </div>
          <div>
            <span class="temp">{{ day.low|round|int }}</span><span class="units">°C</span>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

   
</div>

{% endblock main %}